body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #ffffff;
}

#description {
    pointer-events: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#header {
    pointer-events: auto;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 0px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#hud {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

#arrowContainer {
    position: absolute;
    width: 100%;
    bottom: 0; 
    margin-bottom: 0;
}

#arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
